.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 50px;
}

.todo-form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.todo-input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid black;
}

.todo-button {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
}

.todo-list {
    margin-top: 50px;
    width: 100%;
    text-align: left;
    padding: 0;
}

.todo-item {
    padding: 10px;
    display: block;
    border-bottom: 1px solid lightskyblue;
    font-size: 16px;
}

.todo-item:last-child {
    border-bottom: none;
}

.completed {
    text-decoration: line-through;
    color: red;
}

.done {
    background-color: rgb(29, 208, 29);
    color: white;
    width: 10%;
    border: none;
    border-radius: 2px;
    position: fixed;
    right: 150px;
    height: 4%;
}

span {
    font-family: 'Courier New', Courier, monospace;
    height: 10%;
}